{# @see Symfony/src/Syfmony/Bridge/Twig/Resources/views/Form #}
{% use 'form_div_layout.html.twig' with form_label as base_form_label %}
{% use 'form_div_layout.html.twig' with form_start as base_form_start %}

{% block form_row %}
{% spaceless %}
    <div class="form-group{{ errors|length > 0 ? ' error' : ''}}">
        {{ form_label(form, label|default(null)) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
{% spaceless %}
    {% for error in errors %}
        <span class="help-inline">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</span>
    {% endfor %}
{% endspaceless %}
{% endblock form_errors %}

{% block form_label %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')}) %}
    {{ block('base_form_label') }}
{% endspaceless %}
{% endblock form_label %}

{% block form_start %}
{% spaceless %}
    {% set attr = attr|merge({'class': 'form-horizontal'}) %}
    {{ block('base_form_start') }}
{% endspaceless %}
{% endblock form_start %}

{% block submit_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn btn-primary')}) %}
    <div class="form-actions">
        <button type="submit" {{ block('button_attributes') }}>{{ label }}</button>
    </div>
{% endspaceless %}
{% endblock submit_widget %}

{% block widget_attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ full_name }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}

    {% if attr['class'] is not defined %}
        class="form-control"
    {% else %}
        {% set attr = attr|merge({'class': 'form-control ' ~ attr['class']}) %}
    {% endif %}
    {% for attrname, attrvalue in attr %}
        {% if attrname in ['placeholder', 'title'] %}
            {{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
        {% else %}
            {{ attrname }}="{{ attrvalue }}"
        {% endif %}{% endfor %}
{% endspaceless %}
{% endblock widget_attributes %}


{% block datetime_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {{ block('form_widget_simple') }}
        {% else %}
            {% set attr = attr|merge({'class': 'date_container ' ~ attr['class']}) %}
            <div {{ block('widget_container_attributes') }}>
                {{ form_errors(form.date) }}
                {{ form_errors(form.time) }}
                {{ form_widget(form.date) }}
                {{ form_widget(form.time) }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock datetime_widget %}


{# Template for Nekland Editor #}
{% block nekland_editor_widget %}
{% spaceless %}
    {# Adding a special class to the textarea #}
    {% set attr = attr|merge({'class': attr.class|default('') ~ 'nekland_editor' }) %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock %}


{% block datetime_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {{ block('form_widget_simple') }}
        {% else %}
            {% set attr = attr|merge({'class': 'nekland-datetime-widget'}) %}
            <div {{ block('widget_container_attributes') }} data-bidule="bitch">
                {{ form_errors(form.date) }}
                {{ form_errors(form.time) }}
                {{ form_widget(form.date) }}
                {{ form_widget(form.time) }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock datetime_widget %}

{% block date_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {{ block('form_widget_simple') }}
        {% else %}
            {% set attr = attr|merge({'class': 'nekland-date-widget'}) %}
            <div {{ block('widget_container_attributes') }}>
                {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
                })|raw }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock date_widget %}
