{% extends 'NeklandBaseAdminBundle::layout.html.twig' %}

{% block nekland_admin_content %}

    <h1>Liste des {{ resource.pluralName }}</h1>

    <table class="table table-bordered table-striped crud-list table-condensed">
        <thead>
            <tr>
                {% for key, field in resource.properties %}
                    {% if field.displayed %}
                        <th class="crud-{{ key }}">
                            {% if field.label is defined %}
                                {{ field.label }}
                            {% else %}
                                {{ key }}
                            {% endif %}
                        </th>
                    {% endif %}
                {% endfor %}
                <th class="crud-actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for object in objects %}
                <tr>
                    {% for key, field in resource.properties %}
                        {% if field.displayed %}
                            <td class="crud-{{ key }}">
                                {% if loop.first %}<a href="{{ path(resource.routes.show.name, resource.getRouteParameters('show', object)) }}">{% endif %}
                                {{ key == 'id' ? '#' : '' }}
                                {% if field.block is not empty %}
                                    {% include 'NeklandBaseAdminBundle:Crud:Types/' ~ field.block ~'.html.twig' %}
                                {% else %}
                                    {{ attribute(object, key) }}
                                {% endif %}
                                {% if loop.first %}</a>{% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                    <td class="crud-actions">
                        <a class="btn btn-mini btn-primary"
                           href="{{ path(resource.routes.edit.name, resource.getRouteParameters('edit', object)) }}">
                            <i class="icon-cog"></i> Editer
                        </a>
                        {% for action_name, action in resource.actions %}
                            <a class="btn btn-mini btn-primary"
                               href="{{ path(action.route.name, resource.getActionRouteParameters(action_name, object)) }}">
                                {{ action.label }}
                            </a>
                        {% endfor %}
                        <a class="btn btn-mini btn-danger ask-delete"
                           data-href="{{ path(resource.routes.delete.name, resource.getRouteParameters('delete', object)) }}" href="#">
                            <i class="icon-trash icon-white"></i> Supprimer
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="{{ resource.display | length + 1 }}">
                        Aucun {{ resource.name }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr />

    <div class="well">
        <a href="{{ path(resource.routes.new.name, resource.getRouteParameters('new')) }}" class="btn btn-primary">Nouveau</a>
    </div>

    {% include 'NeklandBaseAdminBundle:Crud:deletebox.html.twig' %}
{% endblock nekland_admin_content %}
