{% extends 'NeklandBaseAdminBundle::layout.html.twig' %}

{% block nekland_admin_content %}

    <h1>{{ resource.name }}</h1>

    <p>{% trans with {'%element%': resource.name} %}nekland_admin.show.explaination{% endtrans %}</p>

    <table class="table table-striped table-bordered">
        {% for key, field in resource.display %}
        <tr>
            <th>
                {% if field.label is defined %}
                    {{ field.label }}
                {% else %}
                    {{ key }}
                {% endif %}
            </th>
            <td>
                {{ key == 'id' ? '#' : '' }}
                {{ attribute(object, key) }}
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock nekland_admin_content %}
